<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UNLV_Bricks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>903B492A1E6893010040BD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903B49441E6893020040BD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>903B494F1E6893020040BD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
